<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>535222019003-i62qpji6e74q941opglmqeoe0vi1lj6f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.535222019003-i62qpji6e74q941opglmqeoe0vi1lj6f</string>
	<key>API_KEY</key>
	<string>AIzaSyB8AL1U9r7IdOOfeRoBPLT5AqAPE89V4uQ</string>
	<key>GCM_SENDER_ID</key>
	<string>535222019003</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.transitrackWeb</string>
	<key>PROJECT_ID</key>
	<string>transitrack-709f1</string>
	<key>STORAGE_BUCKET</key>
	<string>transitrack-709f1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:535222019003:ios:aa25956245ff57214b5a9e</string>
</dict>
</plist>